*{
    background-color:slateblue;
}


img{
    position: absolute;
    left: auto;
    z-index: 1;
    opacity: 0.9;
}
.clear{
    clear: both;
}
section{
    position: relative;
    width: auto;
}
div{
    box-sizing: border-box;
    display: inline;
}
div label{
    position: relative;
    left: 40%;
    width: 40px;
    font-size: 25px;
}
div p{
    position: relative;
    left: 50%;
    font-size: 30px;
    font-weight: 800;
}